body{
    background: #151313;
    color: white;
    overflow-x: hidden;
}
header{
    height: 40px;
    background-color: #efe9e9;
}
.main-grid-layout{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-gap: 5px;
    grid-template-areas:
            "first second thirty"
            "border-left mid border-right";
}
.main-grid-layout [class*="main-col"]{

}
.first-main-col{
    grid-area: first;
}
.second-main-col{
    grid-area: second;
}
.thirty-main-col{
    grid-area: thirty;
}
.mid-main-col{
    grid-area: mid;
}
.border-left-main-col{
    grid-area: border-left;
}
.border-right-main-col{
    grid-area: border-right;
}
.nav-link{
    color: #6400ff;
}
.carousel{
    width: 100%;
    --max-width: 600px;
    margin: 0 auto;
}
.main-flex-layout{
    margin-top: 5px;
}
.main-flex-layout .card img{
    max-height: 200px;
}
.card-text,.card-title{
    color:black;
}
footer{
    min-height: 100px;
}
.border-3d-footer-samples{
    transform-style: preserve-3d;
    perspective: 400px;
}
.border-3d-footer-samples p{
    font-size: 30px;
    -webkit-text-stroke: 0.9px #bf1be8;
    transform: skewY(10deg) rotateY(10deg) translate3d(0px,0px,70px);
    animation: move 5s infinite;
}
@keyframes move {
    0%{
        transform: skewY(10deg) rotateY(10deg) translate3d(0px,0px,70px);
    }
    25%{
        transform: skewY(10deg) rotateY(130deg) translate3d(0px,0px,70px);
    }
    50%{
        transform: skewY(10deg) rotateY(180deg) translate3d(0px,0px,70px);
    }
    75%{
        transform: skewY(10deg) rotateY(310deg) translate3d(0px,0px,70px);
    }
    100%{
        transform: skewY(10deg) rotateY(360deg) translate3d(0px,0px,70px);
    }
}

/* Samples Page*/


@media screen and (max-width: 1024px){

}