.header{

}
.header__hr{
    background: #828282;
}
.nav{

}
.nav-item{

}
.nav-link{
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}
.nav-link_active{
    color: #070707;
}
.name-title{

}
.author-self-text{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    color: #070707;
}
.switch-language{
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    align-content: flex-end;
}
.switch-language__button{
    border: none;
    background: none;
    text-align: right;
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
}
.switch-language__button_active{
    color:#070707;

}
.switch-language__text{
    writing-mode: vertical-lr;
}
.switch-language__separator{
display: none;
}
.carousel-slider{

}
.background-gray{
    background: #F6F6F6;
}
.block-aboutMe{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.block-aboutMe__title{

}
.block-aboutMe__text{
    margin-top: 5px;
}
.block-aboutMe__text + .block-aboutMe__text{
    margin-top: 10px;
}
.skills{

}
.skills__title,.skills__sub-Title{
    text-align: center;
}
.skills__title{

}
.skills__sub-Title{

}
.skill-item{
    display: flex;
    flex-flow: column;
    align-items: center;
}
.skill-item__image{

}
.skill-item__title{
    margin-top: 25px;
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
.skill-item__raiting{
    margin-top: 35px;
}
/*Copy-Pasted Solution*/
.rating-result {
    width: 100%;
    margin: 0 auto;
}
.rating-result span {
    padding: 0;
    font-size: 40px;
    line-height: 1;
    color: #E5E5E5;
    text-shadow: 1px 1px #bbb;
}
.rating-result > span:before {
    content: '★';
}
.rating-result > span.active {
    color:  #070707;
    text-shadow: 1px 1px #c60;
}

/*-----*/
.portfolio{

}
.portfolio__title,.portfolio-item{
    text-align: center;
}
.portfolio__title{

}
.portfolio-item + .portfolio-item{
    margin-top: 30px;
}
.portfolio-item{

}
.portfolio-item:last-child{
    margin-bottom: 50px;
}
.portfolio-item__image{
    margin-bottom: 50px;
}
.portfolio-item__link{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #070707;
    display: block;
}
.portfolio-item img{
    max-width: 100%;
    height: auto;
}

.contacts{
    text-align: center;
}
.contacts__title{
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    color: #070707;
}
.contacts__about{
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #070707;
    margin-top: 20px;
}
.contacts-button{
    margin-top: 40px;
    background: #070707;
    border:none;
    width: 180px;
    height: 42px;
    border-radius: 15px;
}
.contacts-button__text{
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}
.contacts-social-links{
    width: 100%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.contacts-social-links img{
    width: 30px;
}
.contacts-social-links__link{

}
.contacts-social-links__image{
    vertical-align: middle;
}
.contacts__social-description{
    font-family: Gilroy-Medium;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #828282;
}
@media (min-width: 500px){
    .contacts-social-links{
        width: 400px;
    }
    .contacts-social-links img{
        width: 100%;
        height: auto;
    }
}
@media (max-width: 991px){

}